@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,700&display=swap");

html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
  font-size: 2.8rem;
  text-transform: uppercase;
}

h1,
h2 {
  font-weight: bold;
}

.mt-2 {
  margin-top: 2rem;
}

.icon {
  width: 40px;
  height: 40px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.item {
  box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.2705882353);
  max-width: 350px;
}

.item img {
  max-width: 100%;
}

.item .content {
  padding: 1rem 2rem;
  overflow: hidden;
}

.item .content h2 {
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #aaa;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item .content h3 {
  text-align: right;
  font-weight: 300;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tags.center {
  justify-content: center;
}

.tags .tag {
  padding: 0.4rem 0.6rem;
}

.product-container .cover {
  position: relative;
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.product-container .cover img {
  max-width: 100%;
}

.product-container .cover .price {
  position: absolute;
  top: 0;
  left: 0;
  font-size: xx-large;
  font-weight: 400;
  padding: 1.2rem 2rem;
  background-color: rgb(255, 81, 0);
  color: #fff;
}

@media screen and (min-width: 450px) {
  .container {
    flex-direction: row;
  }
}

@media screen and (min-width: 980px) {
  h1 {
    font-size: 4.2rem;
  }
}
